<h1>Classic movies</h1>
<p><% @movies %></p>
    <ul>
        <% @movies.each do |movie|%>
            <li>
                <h3><%= link_to movie.title, movie_path(movie)%></h3>
            </li>
        <% end %>
    </ul>